table {background-color:#c0cbff; border-radius:10px; margin:40px auto 40px auto; width:800px; border:solid 4px #0c0c0cff;}
th {background-color:#77dd77; text-align:left; padding:10px;}
td {vertical-align:top; padding:10px; border:solid 2px #fa059cff;}